# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Скомпилированные файлы
*.class

# Сборочные папки
target/
build/
